<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">
		<div class="edit">EDIT</div>
		<div class="box">
			<div class="profile"></div>
			<div class="heading2">Lorem Ipsum</div>
			<div class="sub2">
				AGE:33
			</div>
		</div>
		<div class="box">
			<div class="heading">ADDRESS:</div>
			<div class="sub">
				979 Grant Rd.  Strongsville, OH 44136
			</div>
		</div>
		<div class="box box2">
			<div class="heading">EMERGENCY CONTACTS:</div>
			<div class="sub sub3">
				Lorem Ipsum
			</div>
			<div class="sub sub4">
				999999999
			</div>
		</div>
		<div class="box box2">
			<div class="heading">EMERGENCY CONTACTS:</div>
			<div class="sub sub3">
				Lorem Ipsum
			</div>
			<div class="sub sub4">
				999999999
			</div>
		</div>
	</div>
	<div class="circle"></div>
	<div class="second"></div>

</body>
</html>