		::-webkit-scrollbar {
			width: 7px;
		}
		::-webkit-scrollbar-track {
			-webkit-border-radius: 10px;
			border-radius: 10px;
			background-color: #eee;
		}
		::-webkit-scrollbar-thumb {
			-webkit-border-radius: 10px;
			border-radius: 10px;
			background:#000; 
		}
		body{
			margin:0 auto;
			background-color: #fff;
			padding-bottom:  0%;
		}
		#myname{
			font-family: raleway;
			padding-top: 100px;
			font-size:1.7em ;
			margin-bottom:20px ;
			font-weight: normal;
		}
		#topbar{
			position: fixed;
			width:100%;
			display:block !important ; 
			z-index: 2;
		}

		#top ul li{
			list-style: none;
			float: left;
			margin-right:30px ;
			color: #eef8ff;
			margin-top:-20px;
			font-family: open sans;
			font-size:1.1em ; 
			-webkit-transition:all 0.3s ease;
			padding:20px 20px ;
			z-index: 2;
			position: relative;
			text-decoration: none;
		}

		a:link{
			text-decoration: none;
		}

		#top ul li:hover{
			background-color:#363636 !important;
		}
		#top{
			margin: 0;
			width: 100%;
			background-color: #1490eb;
			padding-bottom:25px ;
			display:block ;
		}

		#top ul{
			margin: 0;
			padding-top:20px ;
		}
		#blank{
			margin: 0;
			width: 100%;
			background-color: #1490eb;
			padding-bottom:80px ;
			display: none;
			position: fixed;
		}
		.arrow{
			color: #eef8ff;
			width:40px;
			position: absolute;
			top: 15px;
			left:90% ;
		}
		#img1{
			margin-top:0px ;
			width:200px ;
			height: 200px;
			border-radius:100px ;
			border:3px solid #1490eb;
			-webkit-transition:all 0.7s ease;
		}

		#img1:hover{
			border-radius:50px ;
		}
		#text{
			font-size: 1.2em;
			font-family:open sans ;
			font-weight: lighter;
		}

		#home{

		}

		#press{
			margin-top:5%  ;
			padding: 19px 23px;
			background-color: transparent;
			outline: none;
			border: 2px solid #1490eb;
			border-radius:10px ;
			color: #1490eb;
			position: relative;
			overflow: hidden;
			transition:all 1s ease;

		}
		#btext{
			z-index: 1;
			position: relative;

		}
		#back{
			position: absolute;
			background-color: #6A35BA;
			width: 100%;
			height: 270%;
			top: -30px;
			left: -160px;
			transition:all 0.7s ease;
			transform:rotate(0deg);
		}

		#press:hover{
			color:#fff;
			border:#6A35BA 2px solid ;
		}

		#press:hover > #back{
			left: -0px;
		}

		#parallax1{
			background:url(ucla.jpg) no-repeat center center; 
			background-attachment: fixed;
			padding-bottom:300px ;
			margin-top:10% ;
			background-size: 100% 100%;
		}

		.empclasses{
			padding-bottom: 20px;
		}

		#about{
			width: 100%;
			margin-top:5% ;
			margin-bottom: 650px;
		}

		.a{
			float: left;
			width:25%;
			text-align: justify;
			font-family: open sans;
			font-size:0.9em ;
			margin:0 37px 0px 37px ;
		}
		.aboutheaders{
			font-size:1.2em ;
			font-family:open sans ;
			text-align: center;
		}
		.images{
			width:200px;
			height:200px;	
			border-radius:100px ;
		}

		#aheading{
			font-family: raleway;
			font-size:2em ;
			font-weight: bold;
			margin-bottom:7% ; 
		}

		#acontent{
			margin-left:25px ;
			margin-bottom:20% ;
		}

		#parallax2{
			background:url(img2.jpg) no-repeat center center; 
			background-attachment: fixed;
			padding-bottom:300px ;
			background-size: 100% 100%;
		}


		#projects{
			font-size: 2.5em;
			font-family: raleway;
			font-weight: bold;
			margin-top: 250px;	
			margin-bottom:250px ;
		}

		#parallax3{
			background:url(img3.jpg) no-repeat center center; 
			background-attachment: fixed;
			padding-bottom:300px ;
			margin-top:0% ;
			background-size: 100% 100%;
		}

		#chead{
			font-family: raleway;
			font-size: 2.5em;
			font-weight: bold;
			margin-top:100px ;
			margin-bottom:50px ;
		}

		.edit{
			font-size:1.7em ;
			font-family:open sans ;
			color: #3DDC97;
		}

		.forminput{
			border-bottom:1px solid #3DDC97 ;
			border-right:0px ;
			border-left:0px ;
			border-top:0px ;
			width:250px ;
			font-family:raleway ;
			font-size:1.2em ;
		}

		.forminput:focus{
			outline: none;
		}

		#mtext:focus{
			outline: none;
		}

		#contact{
			padding-bottom:50px ;
		}

		#mtext{
			width:350px ;
			height:170px ;
			border:1px solid #3DDC97;
			font-family:raleway ;
			font-size: 1.1em;
		}

		@media only screen and (max-width: 930px){
			#blank{
				display:block;
				padding-bottom:70px ;
				width: 100%;
			}
			#top{
				display: none;
				padding-bottom: 25px;
			}

			#top ul li{
				float: none;
				padding:10px 10px ;
				margin-top: 0;
			}

			.a{
				float: none;
				width: 300px;
				margin-bottom:0px ;
			}

			#acontent{
				margin-left:0px ;
			}

			#parallax2{
				margin-top:0% ;
			}

			#about{
				margin-top: 00px;
				margin-bottom: 0;
			}

			.empclasses{
				padding-bottom: 100px;
			}
		}
		@media only screen and (min-width: 930px){
			#top{
				display:block !important;
				padding-bottom: 45px;
			}

			#top ul li{
				display:block !important;
			}
			#topbar{
				display: block !important;
			}
		}
